*.o
*.a
*.dat
*.cbp
*.depend
*.userprefs
bin
spade
plot*.txt
plot*.pdf
*.log
*.lot
*.aux
*.bbl
*.blg
*.fff
*.lof
*.pdf
*~
*.ttt
vgcore.*
*.txt
*.toc
*.bar
*.obj
*.pin
*.std
*.pin
*.tmp
*.cor
*.old
*.par
*.eva
*.cov
*.dep
*.hes
